
ex1-hello-jpa/.idea/workspace.xml

jpashop/.gradle/8.5/checksums/checksums.lock

jpashop/.idea/compiler.xml

jpashop/.idea/modules.xml

jpashop/.idea/modules/jpashop.main.iml

jpashop/.idea/workspace.xml

jpashop/.idea/jpashop.iml
